
#titulo {
    background: rgb(255, 255, 255);
    color: black;
    border: 10px solid gray;
    text-align: center;
    margin: auto;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 20px;
    font-size: 45px;
    
}

#subtitulo {
    background-color: rgb(14, 3, 116);
    color: rgb(255, 0, 255);
    border: solid 2px black;
    width: 900px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

h2{
    font-size: 160%;
    font-family: monospace;
    font-weight: bold;
}

#chico{
    background: blue;
    border: solid 4px white;
    color: white;
    width: 120px;
    list-style: none;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    display: inline-block;
    margin: 300px;
    margin-top: 30px;
}

#chica{
    background: rgb(255, 1, 213);
    border: solid 4px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: auto;
    width: 120px;
    list-style: none;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    display: inline-block;
    margin: 100px;
    margin-top: 30px;
}