body{
    background: rgb(147, 154, 250);
}

#p1 {
    position: relative;
    top: 20px;
    background: rgb(255, 255, 255);
    color: black;
    border: 10px solid gray;
    text-align: center;
    margin: auto;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 50px;
    font-size: 45px;
    
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a:hover{
    color: black;
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(255, 251, 0);
    display: block;
    padding: 5px 100px;
    margin: auto;
    font-size: 17px;
    font-family: cursive;
}

.p2 {
    position: relative;
    top: 70px;
    background: #11005e;
    border: solid black 2px;
    width: 900px;
    margin-bottom: 2px;
    margin: auto;
    list-style: none;
    
}

h2{
    font-size: 160%;
    font-family: monospace;
    font-weight: bold;
}

#contenido{
    position: relative;
    top: 120px;
    background: rgb(0, 255, 255);
    border: solid 5px rgb(0, 4, 255);
    padding: auto;
    margin: auto;
    width: 700px;
    height: 200px;
    text-align: center;
    padding: 160px;
    font-size: 60px;
    font-family: monospace;
}
